<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td>Id</td>
          <td>Titulo</td>
          <td>Descrição</td>
          <td>Preço</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Node JS</td>
          <td>Livros para aprender nodejs</td>
          <td>99.99</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
