<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td>Id</td>
          <td>Titulo</td>
          <td>Descrição</td>
          <td>Preço</td>
        </tr>
      </thead>
      <tbody>
        <% livros.forEach(function(livro) { %>
          <tr>
            <td><%=livro.id %></td>
            <td><%=livro.nome %></td>
            <td><%=livro.preco %></td>
            <td><%=livro.descricao %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
